<%= form_with model: group, url: url,local: :true do |f| %>
<div class="field row">
  <%= f.label :グループ名 %>
  <%= f.text_field :name, class: "col-xs-12" %>
</div>
<div class="field row">
  <%= f.label :説明文 %>
  <%= f.text_area :description, class: "col-xs-12" %>
</div>
<div class="field row">
  <%= f.label :グループ画像 %>
  <%= f.attachment_field :image %>
</div>
<div class="actions row">
  <%= f.submit submit, class: "btn btn-primary col-xs-12" %>
  <% end %>
</div>