<%= render '/layouts/errors', obj: @group %>

<div class="col-xs-3 box1">
  <h3>グループ紹介</h3>
  <%= render '/groups/profile', group: @group %>
  <%= link_to '',edit_group_path(@group), class: "col-xs-12 field btn btn-default glyphicon glyphicon-wrench edit_group_#{@group.id}" %>
  <%= link_to 'グループメンバー & 入会リクエスト', group_member_path(@group), class: "col-xs-12 field btn btn-primary" %>
</div>

<div class="col-xs-1"></div>

<div class="col-xs-8 box2">
  <div class="row">
    <h3 class="task-headline">タスク一覧 <%= link_to 'タスク登録', new_group_task_path(group_id: @group.id), class: "pull-right btn btn-primary" %></h3>
    <% if @group_tasks.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>担当者</th>
          <th>期日</th>
          <th>進捗</th>
          <th>ありがとう</th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <% @group_tasks.each do |group_task| %>
        <tr>
          <%= render 'task', group_task: group_task %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <p>登録されていません</p>
    <% end %>
  </div>
</div>