<%= render '/layouts/errors', obj: @group %>
<div class="col-xs-6">
<h2>マイページ</h2>
  <div class="row">
    <h3>登録情報</h3>

    <table class="table">
      <tbody>
        <tr>
          <td>アイコン</td>
          <td><%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
        </tr>
        <tr>
          <td>名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>

    <% if @user == current_user %>
    <%= link_to '',edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}" %>
    <% end %>
  </div>
  <div class="row">
    <h3>マイグループ</h3>
    <% if @mygroup.present? %>
    <table class="table">
      <tbody>
        <% @mygroup.each do |mygroup| %>
        <tr>
          <td><%= link_to mygroup.name, group_path(mygroup.id), data: {"turbolinks" => false} %></td>
          <td><%= link_to 'グループを抜ける', group_user_deletion_path(@group_user), class: "btn btn-danger pull-right" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
    <p>所属していません</p>
    <p>グループに入るには</p>
    <ul class="aqua">
      <li>グループ一覧からリクエスト送信</li>
      <li>新しくグループを作成</li>
    </ul>
    <p class="text-right">をしてください</p>
      <% end %>
    </div>
  </div>

  <div class="col-xs-2"></div>

  <div class="col-xs-4">
    <div class="row">
      <%= render '/groups/group', group: @group, url: groups_path, submit: '作成する' %>
    </div>
  </div>