<%= form_with model: group_task, url: url,local: :true do |f| %>
<div class="field row">
  <%= f.label :タイトル %>
  <%= f.text_field :title, class: "col-xs-12" %>
</div>
<div class="field row">
  <%= f.label :内容 %>
  <%= f.text_area :body, class: "col-xs-12" %>
</div>
<div class="form-group row">
 <%= f.label :担当者 %>
 <div class="col-sm-12">
  <%= f.collection_select :rep, Group.find(group.id).users, :name,:name, { include_blank: "--選択してください--"}, {class: "form-control"} %>
</div>
</div>
<div class="row">
  <%= f.label :期日 %>
    <%= f.datetime_select :deadline, {:start_year => Time.now.year, :end_year => Time.now.year + 2, :minute_step => 10, :use_month_numbers => true} %>
</div>

<div class="field row">
  <%= f.label :タスク完了 %>
  <%= f.check_box :status, id: :task_status,:as => :boolean%>
</div>

<%= f.hidden_field :group_id, :value => group.id %>

<div class="actions row">
  <%= f.submit submit, class: "btn btn-primary pull-right" %>
  <% end %>
</div>