<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <%= render '/layouts/errors', obj:  @group_task %>
      <h2>タスク詳細</h2>
      <div class="row">
       <label class="col-sm-3">タイトル</label>
       <div class="col-sm-9">
        <%= @group_task.title %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3">本文</label>
      <div class="col-sm-9">
        <%= @group_task.body %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3">担当者</label>
      <div class="col-sm-3">
        <%= @group_task.rep %>
      </div>
      <label class="col-sm-3">期日</label>
      <div class="col-sm-3">
        <%= l @group_task.deadline, format: :short %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3">進捗</label>
      <div class="col-sm-3">
        <% if @group_task.status = false %>
        未完了
        <% else %>
        完了
        <% end %>
      </div>
      <label class="col-sm-3">ありがとう</label>
      <div class="col-sm-3">
        <% if @group_task.thank_you_by?(current_user) %>
        <%= link_to group_task_thank_you_path(@group_task), method: :delete do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= @group_task.thank_yous.count %>
        <% end %>
        <% else %>
        <%= link_to group_task_thank_you_path(@group_task), method: :post do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= @group_task.thank_yous.count %>
        <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to "編集する", edit_group_task_path(@group_task), class:"pull-right btn btn-primary" %>

    <!-- コメント -->
    <div class="row">
      <!-- 一覧 -->
      <% @group_task.group_comments.each do |comment| %>
      <div>
        <%= comment.user.name %>

        <%= comment.comment %>

        <% if comment.user == current_user %>
        <%= link_to "削除する",group_task_group_comment_path(comment.group_task, comment), method: :delete, class: "btn-sm btn-danger" %>
        <% end %>
        <% end %>
      </div>

      <!-- 入力欄 -->
      <%= form_with model: @group_comment, url: group_task_group_comments_path(group_task_id: @group_task, group_comment_id: @group_comment), local: :true do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.text_area :comment, rows:"5", class:"form-control",placeholder: "コメント入力欄" %>
        </div>
        <%= f.submit "送信する", class:"btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-xs-1"></div>
</div>
</div>