<!DOCTYPE html>
<html>
<head>
  <title>Kajigatou</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <%= render 'layouts/header' %>
  <main>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </main>
</div>
  <footer>
    <p class="footer-text">maehara portfolio</p>
    <div>Logo made by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>
    Image by <a href="https://pixabay.com/users/andreas160578-2383079/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1331965">andreas160578</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1331965">Pixabay</a>
  </footer>
</body>
</html>
